<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Index Page</h1>
        <a href="/Products/Index">index</a>
        <a href="/Products/Create">create</a>
        <a href="/Products/Edit">edit</a>
    </body>
    </html>